.page-footer {
  width: 280px;
  margin: 0 auto;
  outline: 1px solid red;
}

.page-footer__logo {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-footer__social {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-footer__copyright {
  font-size: 14px;
  text-align: center;
}
