.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 280px;
  margin: 0 auto;
}

.page-footer--main {
  display: none;
}

.page-footer__logo {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  
  &:hover {
    path {
      fill: #d22856;
    }
  }
  
  &:active {
    .page-footer__logo-mobile {
      path {
        fill: #283645;
        opacity: 0.3;
      }
    }
    
    path {
      fill: #d22856;
      opacity: 0.3;
    }
  }
}

.page-footer__logo-desktop {  
    display: none;  
}

.page-footer__logo-tablet {  
    display: block;  
  }
  
  .page-footer__logo-desktop2 {
    display: block;
    
    path {
      fill: #d22856;
    }
}

.page-footer__social {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 27px;
}

.page-footer__copyright {
  width: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.page-footer__text {
  margin: 0;
  padding: 0;
}

.page-footer__logo-htmlacademy {
  width: 27px;
  height: 34px;
  
  &:hover {
    .page-footer__logo-svg {
      path {
        fill: #283645;
      }
    }
  }
  
  &:active {
    .page-footer__logo-svg {
      path {
        fill: rgba(40, 54, 69, 0.3);
      }
    }
  }
}

.page-footer__logo-svg {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include container;
    padding-top: 36px;
    padding-bottom: 36px;    
    display: flex;
    align-items: center;
  }
  
  .page-footer--main {
    display: flex;
  }

  .page-footer__logo {
    width: 150px;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;    
  }
  
  .page-footer__logo-img {
    margin-left: 0;
  }  

  .page-footer__social {
    width: 180px;
    margin-left: 70px;
    margin-bottom: 0;
  }

  .page-footer__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .page-footer__copyright {
    width: 130px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  
  .page-footer__logo-tablet, .page-footer__logo-desktop {  
    display: block;         
  }
  
  .page-footer__logo-desktop2 {  
    path {
      fill: #283645;
    }    
  }
  .page-footer__text {
    font-size: 18px;
  }

  .page-footer__social {
    padding-top: 10px;
    width: 185px;
    margin-left: 224px;
  }

  .page-footer__copyright {
    padding-top: 10px;
    width: 150px;
  }
}

