.page-main__wrapper {
  padding-top: 100px;
  min-height: 142px;
  margin-top: -70px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 320px auto;
    }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c3c4c;
}

.page-main__title {
  max-width: 240px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

@media (min-width: $tablet-width) { 
  .page-main__wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }

    padding-top: 141px;
    min-height: 260px;
  }

  .page-main__title {
    max-width: 520px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) { 
  .page-main__wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");

     @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: 2560px auto;
      } 
    
    min-height: 220px; 
    padding-top: 173px;
    margin-top: -108px;    
  }

  .page-main__title {
    max-width: 780px;
    letter-spacing: -0.02em;
  }
}
