.promo {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  min-height: 666px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center -70px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
  outline: 1px solid green;
}

.promo::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  height: 314px;
  background-image: url("../img/hand.png");
  background-position: 0 23px;
  background-repeat: no-repeat;
}

.promo__title {
  font-size: 0;
  min-height: 400px;
}

.promo__wrap-list {
  background-color: #283645;
  padding-top: 25px;
}

.promo__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  border: 1px solid white;
}

.promo__list {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid white;
}

.promo__text {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  outline: 1px solid white;
}
