.reviews {
  width: 280px;
  margin: 0 auto;
  margin-top: -35px;
  outline: 1px solid red;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.reviews__text {
  order: 2;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  order: 1;
  font-family: "Opensansbold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {  
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    margin-top: 0;
  }

  .reviews__author-name {
    order: 2;
  }

  .reviews__text {
    order: 1;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
  }

  .reviews__author-name {
    font-family: "Opensansbold";
    margin-bottom: 15px;
    letter-spacing: 0.03em;
  }

  .reviews__author-info {
    display: block;
    font-family: "Opensans";
    font-size: 14px;
    line-height: 32px;
    font-weight: normal;
    letter-spacing: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 185px;
    padding-bottom: 30px;
    position: relative;
  }

  .reviews::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 63px;
    top: 70px;
    left: 50%;
    margin-left: -40px;
    background-image: url("../img/icon-quotes.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .reviews__list {
    padding-left: 100px;
    padding-right: 100px;
  }

  .reviews__author-name {
    font-size: 24px;
  }
  
  .reviews__author-info {
    font-size: 18px;
  }
}
