.site-list {
  border-top: 1px solid #000000;
}

.site-list__link {
  color: #ffffff;
  cursor: pointer;
}

.site-list__item {
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  text-align: center;  
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  font-family: "Opensansbold";
}

.site-list__item:nth-child(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.site-list__link[href] {
  &:hover {
    color: #d22856;
    outline: 1px solid blue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) { 
  .site-list {
    border-top: none;
  }
 
  .site-list__item:nth-child(1) {
    border-top: none;
  }

  .site-list__item {
    font-family: "Opensans";
    text-transform: none;
    border-bottom: none;
    border-top: none;
  
    &--active {
      position: relative;
  
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #ffffff;
      }
    }
  }
}

